body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.transform-box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.rotate:hover {
    transform: rotate(45deg);
    transform: skew(20deg, 30deg);
}

.scale:hover {
    transform: scale(2);
}

.translate:hover {
    transform: translate(100px, 50px);
}


