/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('/Users/dmitriyv/my-proj/my-proj/5710170'); /* Замените на ваш путь к изображению */
    background-size: cover; /* Изображение покрывает всю область */
    background-position: center; /* Центрирование изображения */
    background-attachment: fixed; /* Фиксированное фоновое изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 20px;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul, ol {
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li, ol li {
    margin-bottom: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}