/* Основні стилі для тіла документа */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/Users/dmitriyv/my-proj/L13.1/img/pexels-markusspiske-113850.jpg'); /* Замініть 'background.jpg' на шлях до вашого зображення */
    background-size: cover; /* Змінює розмір зображення на весь екран */
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Стилі для заголовка */
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Основні стилі для секцій */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    font-size: 2em;
}

section p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Стилі для контейнера з соціальними іконками */
.social-icons {
    display: flex;
    gap: 20px;
}

/* Загальні стилі для іконок */
.icon {
    width: 50px;
    height: 50px;
    display: flex;
    background-image: url('https://www.d-id.com/photo-to-video/?utm_term=brand-ad&utm_term=d-id&utm_campaign=Brand&utm_source=adwords&utm_medium=ppc&hsa_acc=6149207258&hsa_cam=17780208183&hsa_grp=141566902480&hsa_ad=611130303518&hsa_src=g&hsa_tgt=kwd-369030435047&hsa_kw=d-id&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAiAuOieBhAIEiwAgjCvcp0aztpK6jYiqSJK8rgZnL-nTrj_hIqDi4_r3wLDDb_yPrXkieRdpRoC7YYQAvD_BwE'); /* Замініть на шлях до вашого спрайту */
    background-size: cover;
    background-position: center;
    
    display: -webkit-box;
    display: -ms-flexbox;
   
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px;
}



/* Встановлюємо позиції іконок у спрайті */
.facebook {
    background-position: 8px 0;
}

.twitter {
    background-position: 41px 0;
    
}

.instagram {
    background-position: -164px 0;
}

.linkedin {
    background-position: -200px 0;
}

/* Стилі для контейнера з кнопкою */
.button-container {
    text-align: center;
    
}

/* Стилі для кнопки */
.styled-button {
    background-color: #008CBA; /* Фоновий колір */
    color: #ffffff; /* Колір тексту */
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Стилі для кнопки при наведені */
.styled-button:hover {
    background-color: #005f6b; /* Зміна фонової кольору при наведені */
    transform: scale(1.05); /* Збільшення кнопки при наведені */
}


/* Стилі для футера */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

