body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b0acac;
}

.animated-text {
    font-size: 2em;
    color: #3498db; /* Початковий колір */
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
        color: #3498db; /* Початковий колір */
    }
    50% {
        color: #ebe427; /* Кінцевий колір */
    }
    100% {
        color: #3498db; /* Повернення до початкового кольору */
    }
}
