/* Основные стили для тела документа */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Стили для контейнера формы */
.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Заголовок формы */
.registration-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для формы */
.registration-form {
    display: flex;
    flex-direction: column;
}

/* Стили для меток полей ввода */
.registration-form label {
    margin-bottom: 5px;
    color: #555;
}

/* Основные стили для полей ввода */
.registration-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Стили для полей ввода при наведении курсора */
.registration-form input:hover {
    border-color: #888;
}

/* Стили для полей ввода при фокусе */
.registration-form input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* Стили для кнопки */
.registration-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Стили для кнопки при наведении курсора */
.registration-form button:hover {
    background-color: #555;
}