body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4e6f96;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

.block {
    margin: 20px 0;
    padding: 20px;
    background-color: #bdbdbd;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block img {
    max-width: 100%;
    height: auto;
}

.third-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.third-block img, .third-block p {
    width: 50%;
}
