body {
    font-family: Ubuntu, sans-serif;
    margin: 0;
  }
  .container {
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    background-image: linear-gradient(to bottom right, blue, red);
    overflow-y: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .grid-container {
    width: 1200px;
    height: 800px;
    border: 10px solid #ff228d;
    border-radius: 20px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
    grid-template-areas:
      "header header header"
      "menu content content"
      "footer footer footer";
    grid-gap: 10px 20px;
  }
  
  .item {
    width: 200px;
    height: 150px;
    background-image: linear-gradient(to top right, #0b039c, #ff228d);
  }
  
  .item:nth-child(1) {
    grid-area: header;
  }
  .item:nth-child(2) {
    grid-area: menu;
  }
  .item:nth-child(3) {
    grid-area: content;
  }
  .item:nth-child(4) {
    grid-area: footer;
  }
