body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.fade-out {
    font-size: 2em;
    color: #000;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Початкова прозорість */
    }
    100% {
        opacity: 0; /* Кінцева прозорість */
    }
}

.rotate {
    font-size: 2em;
    color: #fff;
    background-color: #007bff;
    padding: 20px 40px;
    border-radius: 10px;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Початкова позиція */
    }
    100% {
        transform: rotate(360deg); /* Кінцева позиція */
    }
}
