
  body {
    font-family: Arial, sans-serif;
    background-color: #544cf7f5;
    color: #333;
  }

  h1{ 
    padding: 20px;
    margin: 20px;
    color: rgb(0, 12, 250);
  }
  .container{
    padding: 20px;
    margin: 20px;
    background-color: blanchedalmond;
  }

  .box{
    padding: 10px;
    background-color: bisque;
    border: 1px solid #333;
}